<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Salários</title>
</head>
<body>

    <h1>Dashboard de Salários</h1>

    <h2>Salário médio por senioridade</h2>
    <img src="{{ url_for('static', filename='senioridade.png') }}">

    <h2>Salário médio por tipo de trabalho</h2>
    <img src="{{ url_for('static', filename='remoto.png') }}">

    <h2>Top 10 cargos mais bem pagos</h2>
    <img src="{{ url_for('static', filename='top_cargos.png') }}">

    <h2>Dashboard completo</h2>
    <img src="{{ url_for('static', filename='dashboard.png') }}">

</body>
</html>
